<% if logged_in? %>
<h1>Create an Article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path, class: 'btn btn-primary btn-large' %>
<% else %>
<% controller.redirect_to root_path %>
<% end %>
