$text-color-header: #e0e0e2;
$text-color-main: #a2a2a6;
$text-color-minor: #ff9800;
$background-color: #1c1c21;
$background-color-light: #31313a;
$background-color-light-transparent: #31313a77;
$background-color-boxes: #26262c;
$lining-color: #31313a;
$lining-color-light: #3b3c45;
$accent-color: #ff9800;
$accent-color-transparent: #ff980077;
$accent-color-light: #fffefd;
@import "bootstrap-sprockets";
@import "bootstrap";
body {
background-color: $background-color;
}
#logo {
float: left;
font-size: 1.7em;
color: white;
text-transform: uppercase;
letter-spacing: -1px;
font-weight: bold;
}
#logo:hover {
color: #fff;
text-decoration: none;
}
.article-actions {
border-top: 1px solid #eaeaea;
padding-top: 5px;
}
.article-title {
font-weight: bold;
font-size: 1.5em;
}
.article-body {
border-top: 1px solid #eaeaea;
padding-top: 15px;
padding-bottom: 15px;
}
.article-meta-details {
border-top: 1px solid #eaeaea;
margin-top: 15px;
}
.description {
margin-top: 0;
}
.listing {
list-style: none;
padding-left: 0;
}
.article-body {
border-top: 1px solid #eaeaea;
padding-top: 15px;
padding-bottom: 15px;
}
.article-title {
font-weight: bold;
font-size: 1.5em;
}
.article-meta-details {
border-top: 1px solid #eaeaea;
margin-top: 15px;
}
.listing {
list-style: none;
padding-left: 0;
}
/* change the background color */
.navbar-custom {
background-color: $text-color-minor;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
color: $text-color-header;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
color: $text-color-header;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
color: $accent-color;
}

/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
background-color: $text-color-minor;
}

/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
color: $text-color-header;
}

/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
color: $text-color-header;
background-color: $text-color-minor;
}
